server:
  port: 8082

spring:
  application:
    name: orders-service
  datasource:
    url: jdbc:postgresql://localhost:5432/orders_db
    username: postgres
    password: 565758DrD
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: ${spring.application.name}-group

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs              # Важно! Именно этот путь
  swagger-ui:
    enabled: false

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}