server:
  port: 8083

spring:
  application:
    name: frontend-service
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    mode: HTML

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka}

api:
  gateway:
    url: ${API_GATEWAY_URL:http://localhost:8080}

